name: merge_to_master
run-name: Merge to master

on:
  push:
    branches:
      - master
  workflow_call:

permissions:
  contents: read
  id-token: write # Necessary for the generate documentation job

jobs:
  run_tests:
    name: Run tests
    uses: ./.github/workflows/JOB_tests.yml

  e2e_tests:
    name: E2E Tests
    uses: ./.github/workflows/JOB_e2e.yml
    secrets: inherit

  documentation:
    name: Documentation
    uses: ./.github/workflows/JOB_generate_documentation.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  warn_on_fail:
    needs: [run_tests, e2e_tests, documentation]
    if: ${{ failure() }}
    name: Slack message us on fail
    uses: ./.github/workflows/JOB_slack_message.yml
    secrets: inherit
    with:
      at_team: true
      icon: ":warning:"
      message: "Master is failing after a push event, please review at ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}"

  success:
    needs: [run_tests, e2e_tests, documentation]
    if: ${{ success() }}
    name: Success
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Set branch status to success
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: 'success'
            })
