# Run tests
name: tests
run-name: Tests

on:
  workflow_call:

jobs:
  test:
    name: "Run Testing OS: ${{ matrix.os }} Python: ${{ matrix.python-version }}"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        exclude:
          - os: macos-latest
            python-version: "3.8"
          - os: macos-latest
            python-version: "3.9"
        include:
          - os: macos-13
            python-version: "3.8"
          - os: macos-13
            python-version: "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies with retry
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            pip install poetry pytest
            poetry install --no-interaction --no-root -vvv --all-extras
            poetry install --no-interaction --no-root --all-extras -vvv
            pip install wheel
            pip install --upgrade setuptools
            pip install --editable ".[test,ml,medical,dev, ocv]"

      - name: Run pytest
        shell: bash # Stops Windows hosts from using PowerShell
        run: |
          python -m pytest
